:root {
  --grey: #c9c6c6;
  --lightGrey: #cecdcd;
  --chekedGrey: #888;
}

.lightGrey {
  background-color: var(--lightGrey);
}

.grey {
  background-color: var(--gray);
}

.checkedGrey {
  background-color: var(--chekedGrey);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Quicksand', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

#main {
  background-color: #5a5a5a;
  /*height: 100vh;*/
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height:100%;
  /*position:relative;*/
  margin-bottom: 6%;
}

header {
  min-height: 13vh;
  background-color: var(--chekedGrey);
  display: flex;
  align-items: center;
  gap: 2em;
  margin-bottom: 7%;
}

.title {
  color: white;
  font-weight: bold;
  /*align-items: right;*/
}

.logo {
  background-repeat: no-repeat;
  background: cover;
  max-height: 8vh;
  margin-top: 0.5%;
  margin-left: 1%;
}

.sectionNote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.note {
  background-color: var(--grey);
  border-color: var(--chekedGrey);
  padding: 10px;
  width: 80vw;
}

/*liste*/
#toDoList {
  max-height: 70vh;
  overflow: auto;
  margin-top: 8px;
}

.separator {
  margin: 8px 0px 8px 0px;
}

.toDoTitle {
  text-align: center;
  width: 60vw;
  font-size: x-large;
}

.toDoTitle,
.liste {
  border: 0;
  background-color: #d1d1d1;
}

.titleStyle {
  display: flex;
  justify-content: center;
  height: 5vh;

}

ul {
  list-style-type: none;
}

.deleteButton {
  height: 18px;
  width: 18px;
}

.task {
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

.btn-small {
  display: inline-block;
}

.divTask {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.newLi {
  list-style-type: none;
  width: 120px;
}

/*footer*/
footer {
  margin-top: 3%;
  padding: 1rem;
  background-color: var(--chekedGrey);
  width: 100%;
  min-height: 5vh;
  /*position:absolute;*/
  bottom:0;
  
 
}

#alignTitle {
  display: flex;
  gap: 50px;
  align-items: center;
}

@media screen and (min-width: 600px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "d";
    margin-bottom: 3%;
  }

  .title {
    grid-area: d;
    justify-self: center;
    font-size: 40px;
  }

  .logo {
    grid-area: d;
    justify-self: left;
  }

  .note {
    width: 40vw;
  }
}
